.main-container{
    width:100%;
}
button:focus{
    outline:none;
}
.main-screen{
    position:relative;
    /* background-image: url("../sources/main.jpg"); */
    background-repeat:no-repeat;
    background-size:cover; 
    height:450px;
}
.main-screen-youtube{
    position:absolute;
    top:13%;
    right:17%;
}
.main-screen-btns{
    padding:0px 120px;
    position:absolute;
    width:100%;
    bottom:0;
    justify-content: center;
    align-items: center;
}

/* sub screen */
.sub-screen{
    padding:0px 120px;
    background-color: #f8f9fa;
}
/* recommend */
.recommend{
    padding:40px 0px;
}
.rec-title{
    display:flex;
    justify-content: space-between;
    padding:35px 0px;
}
.rec-title-big{
    font-size: 25px;
}
.rec-title-small ul{
    display:flex;
    font-size: 15px;
}
.rec-title-small li{
    padding-left: 30px;
}
.rec-cards-list{
    display:flex;
}
.rec-cards{
    width:150px;
    height:340px;
    background-color: white;
    margin-right: 10px;
    position:relative;
    display:flex;
    flex-direction: column;
}
.rec-cards:hover{
    animation:hoverShadow 0.3s forwards;
}
@keyframes hoverShadow{
    0%{}
    100%{box-shadow: 0px 2px 50px 0.5px lightgray;}
}
.img-wrap{
    width:100%;
    height:190px;
}
.img-frame{
    width:100%;
    height:100%;
    overflow:hidden;
}
.rec-cards img{
    width:100%;
    height:100% !important;
    
    object-fit: cover;
    max-width: 100%;
}
@keyframes imghover{
    0%{}
    100%{transform:scale(1.1)}
} 
.rec-cards img:hover{
    animation:imghover 0.5s forwards;
}
.rec-cards-detail{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:15px 10px;
}
.rec-cards-detail .rec-cards-rec{
    background-color: #00dbd3;
    color:white;
    font-size: 8px;
    border-radius:15px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:30px; height:16px;
}
.rec-cards-detail h3{
    font-size: 14px;
}
.rec-cards-detail h6{
    font-size: 12px;
    color:#aba1ba;
}
.rec-login-card{
    width:465px;
    height:340px;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:60px 55px;
}
.rec-login-container{
    padding:10px 0px;
    width:100%;
}
.rec-login-container button:hover{
    animation:loginClick 0.5s forwards;
}
@keyframes loginClick{
    0%{}
    100%{background-color: #0077ff;}
}
.rec-login-card .b1{
    width:100%;
    height:60px;
    background-color: black;
    color:white;
}
.rec-login-special{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-top:10px;
}
.rec-login-special button{
    width:173px;
    height:50px;
    background-color: #4a4e57;
    color:white;
}
.rec-login-lists{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 45px ;
    background-color: #f8f9fa;
    margin: 10px 0px;
    font-size: 13px;
    color:#aba1ba;
}
.rec-login-lists li{
    padding-left: 10px;
    font-size: 20px;
}
.rec-service{
    margin-top: 5px;
    width:100%;
    display:flex;
    justify-content: space-between;
    font-size: 12px;
    color:#737881;
}
.rec-service span{
    margin-right: 20px;
}
/* 전체게임 */
.game-all{
    margin-top: 30px;
}
.all-title{
    margin-top: 50px;
    display:flex;
    justify-content: space-between;
    height:auto;
}
.all-title-title{
    font-size: 25px;
}
.pc-mob{
    color:#aba1ba;
    padding-left: 30px;
}
@keyframes mobClick{
    0%{}
    100%{color:#0077ff}
}
.pc-mob:hover{
    animation:mobClick 0.3s forwards;
}
.all-tag{
    width:100%;
    padding:25px 25px;
    background-color: white;
    color:#737881;
    display:flex;
    margin-top: 5px;
    white-space: nowrap;
}
.all-tag input[type="radio"]{
    visibility: hidden;
    
}
.all-pc-title{
    margin-top: 60px;
}
.all-pc-title{
    font-size: 18px;
}
.all-card-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
}
/* pc card */

.all-pc-card{
    margin:30px 0;
    width:300px;
    height:320px;
    background-color: white;
}
.all-pc-card:hover{
    animation:hoverShadow 0.3s forwards;
}
.card-img{
    overflow: hidden;
    width:100%;
    height:200px;
}
.card-img img{
    width:100%;
    height:100%;
    object-fit: cover;
    max-width: 100%;
}
.card-img img:hover{
    animation:imghover 0.5s forwards;
}
.card-info{
    padding:20px 25px;
    border-bottom:0.05px solid lightgray;
}
.card-info i:hover{
    animation:mobClick 0.3s forwards;
}
.card-title{
    width:100%;
    font-size: 15px;
    display:flex;
    justify-content: space-between;
    white-space: nowrap;
}
.card-detail{
    font-size: 12px;
    color:#a0a1a7;
    margin-top: 10px;
}
.card-tag{
    font-size: 12px;
    color:#9fa1bb;
    padding:10px 25px;
}
/* mobile card */
.all-mobile-title{
    margin-top: 70px;
}
.all-mobile-cards{
    width:100%;
}
.m-card-list{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.m-card{
    width:300px;
    height:120px;
    background-color: white;
    margin:25px 0;
    padding:15px 15px;
    display:flex;
}
.m-card:hover{
    animation:hoverShadow 0.3s forwards;
}
.m-card img{
    width:90px;
    height:90px;
    border-radius: 20px;
}
.m-card-detail{
    padding-left:15px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.m-card-logo i{
    margin-right: 10px;
}
.morebtn{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:15px;
    padding-bottom: 200px;
}
.morebtn button{
    width:170px; height:50px;
    font-size: 15px;
    border:2px solid #9fa1a7;
    background-color: transparent;
    color:#9fa1a7;
}
@keyframes btnHover{
    0%{}
    100%{background-color: #9fa1a7;
        color:white;}
}
.morebtn button:hover{
    animation:btnHover 0.3s forwards;
}

@media screen and (max-width:1200px)
{
    .sub-screen{
        padding:0 60px;
    }
    .main-screen-youtube{
        right:10%;
    }
    .main-screen-btns{
        padding:0 10px;
    }
    .rec-cards-list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .rec-login-card{
        display:none;
    }
    .rec-cards{
        width:250px;
        height:300px;
    }
    .all-pc-card{
        width:200px;height:260px;
    }
    .card-detail, .card-tag{
        display:none;
    }
    .m-card-list{
        justify-content: center;
    }
    .m-card{
        flex-direction: column;
        width:160px;
        height:140px;
        background-color: #f8f9fa;
    }
    .m-card:hover{
        animation:none;
    }
    .m-card img:hover{
        animation:imghover 0.5s forwards;
    }
    .m-card-logo{
        display:none;
    }
    .m-card-detail .card-title{
        font-size: 10px;
    }
    .m-card-detail{
        padding-left: 0px;
        margin-right: 5px;
    }
}
@media screen and (max-width:700px){
    .sub-screen{
        padding:0 30px;
    }
    .main-screen-youtube{
        right:1%;
    }
    .rec-cards-detail h6{
        display:none;
    }
    .rec-cards{
        width:200px;
        height:250px;
    }
    .modal{
        width:480px;
    }
}