.slider-container{
    padding:0 40px;
}

.slider-container .slide-btn{
    width:250px;
    height:80px;
    opacity:0.2;
    margin-right: 1px;
    background-color: white;
    color:#c6bbce;
}
@keyframes main-screen-btns-hover{
    0%{}
    100%{opacity:0.5;}
}
.slider-container .slide-btn:hover{
    animation:main-screen-btns-hover 1s forwards;
}
